@{
    string username = "";
    int ? enroll = 0;
    if (!String.IsNullOrEmpty(Context.Session.GetInt32("Enroll").ToString()))
    {
         enroll = Context.Session.GetInt32("Enroll");
         username = Context.Session.GetString("UserName");
    }
}


<!doctype html>
<html lang="en">


<!-- Mirrored from themesdesign.in/webadmin/layouts/5.1.3/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 27 Sep 2023 08:15:53 GMT -->
<head>

    <meta charset="utf-8" />
    <title>ABG Import Managerment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesdesign" name="author" />
    <!-- App favicon -->


    @*<link rel="shortcut icon" href="~/assets/images/brand/">*@
    <link href="~/assets/css/choices.min.css" rel="stylesheet" />
    <link href="~/assets/css/classic.min.css" rel="stylesheet" />
    <link href="~/assets/css/monolith.min.css" rel="stylesheet" />
    <link href="~/assets/css/nano.min.css" rel="stylesheet" />
    <link href="~/assets/css/flatpickr.min.css" rel="stylesheet" />
    <!-- plugin css -->
    <link href="assets/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap Css -->
    <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    
    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->


    <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    <link href="~/assets/css/notify.css" rel="stylesheet" />
    <link href="~/assets/css/notify.min.css" rel="stylesheet" />
    
    <script src="~/assets/js/pages/notify.js"></script>
    <script src="~/assets/js/pages/notify.min.js"></script>

   
    <script src="~/js/jquery.min.js"></script>

    <link href="~/assets/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/assets/js/pages/jquery-1.8.3.js"></script>
    <script src="~/assets/js/pages/jquery-ui.js"></script>
    @*<script src="~/bootstrap.min.js"></script>*@
    @*<script src="~/js/bootstrap.min.js"></script>*@
    <script src="~/assets/js/bootstrap.min.js"></script>
   
    <script src="~/js/angular.min.js"></script>
    <script src="~/js/pagination-angular.js"></script>
    <script src="~/js/pagination-dirpagination.js"></script>

    <link href="~/customcss/common.css" rel="stylesheet" />

   

</head>


<body>

    <div id="layout-wrapper">

        <header id="page-topbar" class="isvertical-topbar">
           
            <div class="navbar-header">
                <div class="d-flex">

                    <button type="button" style="color:rgb(252, 176, 65)" class="btn btn-sm px-3 font-size-24 header-item waves-effect vertical-menu-btn">
                        <i class="bx bx-menu align-middle"></i>
                    </button>

                    <!-- start page title -->
                    <div class="page-title-box align-self-center d-none d-md-block">
                        <h3 class="page-title mb-0" style="letter-spacing:10px;color:rgb(252, 176, 65);font-family:Century Gothic">TREASURY MANAGEMENT</h3>
                    </div>
                    <!-- end page title -->

                </div>

                <div class="d-flex">
                    <div class="dropdown d-inline-block">
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0 pull-right">
                            <form class="p-2">
                                <div class="search-box">
                                    <div class="position-relative">
                                        <input type="text" class="form-control rounded bg-light border-0" placeholder="Search...">
                                        <i class="bx bx-search search-icon"></i>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="dropdown d-inline-block">

                        <div class="dropdown-menu dropdown-menu-xl dropdown-menu-end p-0"
                             aria-labelledby="page-header-notifications-dropdown-v">
                            <div class="p-3">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h5 class="m-0 font-size-15"> Notifications </h5>
                                    </div>
                                    <div class="col-auto">
                                        <a href="#!" class="small fw-semibold text-decoration-underline"> Mark all as read</a>
                                    </div>
                                </div>
                            </div>
                            <div data-simplebar style="max-height: 250px;">
                                <a href="#" class="text-reset notification-item">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            <img src="~/assets/images/users/icon.jpg" class="rounded-circle avatar-sm" alt="user-pic">
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="text-muted font-size-13 mb-0 float-end">1 hour ago</p>
                                            <h6 class="mb-1">James Lemire</h6>
                                            <div>
                                                <p class="mb-0">It will seem like simplified English.</p>
                                            </div>
                                        </div>

                                    </div>
                                </a>
                                <a href="#!" class="text-reset notification-item">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 avatar-sm me-3">
                                            <span class="avatar-title bg-primary rounded-circle font-size-18">
                                                <i class="bx bx-cart"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="text-muted font-size-13 mb-0 float-end">3 min ago</p>
                                            <h6 class="mb-1">Your order is placed</h6>
                                            <div>
                                                <p class="mb-0">If several languages coalesce the grammar</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#!" class="text-reset notification-item">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 avatar-sm me-3">
                                            <span class="avatar-title bg-success rounded-circle font-size-18">
                                                <i class="bx bx-badge-check"></i>
                                            </span>
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="text-muted font-size-13 mb-0 float-end">8 min ago</p>
                                            <h6 class="mb-1">Your item is shipped</h6>
                                            <div>
                                                <p class="mb-0">If several languages coalesce the grammar</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <a href="#!" class="text-reset notification-item">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0 me-3">
                                            @*<img src="assets/images/users/avatar-6.jpg" class="rounded-circle avatar-sm" alt="user-pic">*@
                                        </div>
                                        <div class="flex-grow-1">
                                            <p class="text-muted font-size-13 mb-0 float-end">1 hour ago</p>
                                            <h6 class="mb-1">Salena Layfield</h6>
                                            <div>
                                                <p class="mb-1">As a skeptical Cambridge friend of mine occidental.</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="p-2 border-top d-grid">
                                <a class="btn btn-sm btn-link font-size-14 btn-block text-center" href="javascript:void(0)">
                                    <i class="uil-arrow-circle-right me-1"></i> <span>View More..</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item user text-start d-flex align-items-center" id="page-header-user-dropdown-v" style="color: rgb(252, 176, 65);"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user" src="~/assets/images/users/shohan.jpg"
                                 alt="Header Avatar">
                            @* <span class="d-none d-xl-inline-block ms-2 fw-medium username font-size-15">@TempData["Name"]</span> *@
                            <span class="d-none d-xl-inline-block ms-2 fw-medium username font-size-15">@username</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end pt-0">
                            <div class="p-3 border-bottom">
                                <h6 style="color:black" class="mb-0 logingname">@username</h6>
                                
                               
                                <p class="mb-0 font-size-11 loginenroll text-muted">@enroll</p>
                            </div>
                           @* <a class="dropdown-item" href="contacts-profile.html"><i class="mdi mdi-account-circle text-muted font-size-16 align-middle me-2"></i> <span class="align-middle">Profile</span></a>
                            <a class="dropdown-item" href="apps-chat.html"><i class="mdi mdi-message-text-outline text-muted font-size-16 align-middle me-2"></i> <span class="align-middle">Messages</span></a>
                            <a class="dropdown-item" href="pages-faqs.html"><i class="mdi mdi-lifebuoy text-muted font-size-16 align-middle me-2"></i> <span class="align-middle">Help</span></a>
                            <a class="dropdown-item d-flex align-items-center" href="#"><i class="mdi mdi-cog-outline text-muted font-size-16 align-middle me-2"></i> <span class="align-middle me-3">Settings</span><span class="badge badge-soft-success ms-auto">New</span></a>
                            <a class="dropdown-item" href="auth-lock-screen.html"><i class="mdi mdi-lock text-muted font-size-16 align-middle me-2"></i> <span class="align-middle">Lock screen</span></a>
                            <div class="dropdown-divider"></div>*@
                            <a class="dropdown-item" onclick="Logout()"><i class="mdi mdi-logout text-muted font-size-16 align-middle me-2"></i> <span class="align-middle">Logout</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
       

        <div class="vertical-menu" style="background-color:#f1f2f3">

            <!-- LOGO -->
            <div class="navbar-brand-box" style="background-color:rgb(22, 27, 37);">

                <a class="logo logo-dark">
                    <span class="logo-sm">
                        @* <img src="assets/images/logo-light-sm.png" alt="" height="28"> *@
                        <i class="bx bx-home" style="color:rgb(252, 176, 65);font-size:20px;"></i>
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/brand/logo-white.png" alt="" height="26">
                    </span>
                </a>
            </div>

            <button type="button" style="color:rgb(252, 176, 65);" class="btn btn-sm px-3 font-size-24 header-item waves-effect vertical-menu-btn">
                <i class="bx bx-menu align-middle"></i>
            </button>

            
            <div data-simplebar class="sidebar-menu-scroll">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    @if(username!="")
                    {
                        @await Component.InvokeAsync("Menu")
                    }
                </div>
                <!-- Sidebar -->
            </div>
        </div>
       
  
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box" style="background-color:black">
                    <a href="#" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="~/assets/images/brand/logo.png" alt="" height="26">
                        </span>
                        <span class="logo-lg">
                            <img src="~/assets/images/brand/logo.png" alt="" height="26">
                        </span>
                    </a>

                    <a href="#" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="~/assets/images/brand/logo.png" alt="" height="26">
                        </span>
                        <span class="logo-lg">
                            <img src="~/assets/images/brand/logo.png" alt="" height="30">
                        </span>
                    </a>
                </div>

                <button type="button" class="btn btn-sm px-3 font-size-24 d-lg-none header-item" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                    <i class="bx bx-menu align-middle"></i>
                </button>

                <!-- start page title -->
                <div class="page-title-box align-self-center d-none d-md-block">
                    <h4 class="page-title mb-0" style="font-family:'Bell MT'">TREASURY</h4>
                </div>
                <!-- end page title -->
            </div>

            <div class="d-flex">
                <div class="dropdown d-inline-block">
                    
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0">
                            <div class="search-box">
                                <div class="position-relative">
                                    <input type="text" class="form-control rounded bg-light border-0" placeholder="Search...">
                                    <i class="bx bx-search search-icon"></i>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
  
                <div class="main-content">
                    <div class="page-content">
                         @RenderBody()
                
                    </div>
            
                </div>
 </div>

    <!-- END layout-wrapper -->
    <!-- JAVASCRIPT -->
    @*<script src="~/js/jquery.min.js"></script>*@

    
    <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/libs/metismenujs/metismenujs.min.js"></script>
    <script src="assets/libs/simplebar/simplebar.min.js"></script>
    <script src="assets/libs/eva-icons/eva.min.js"></script>

   
    <script src="assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
   
    <script src="assets/js/app.js"></script>



   
    <script type="text/javascript">
    function Logout()
    {
        $.ajax({
            type: 'POST',
            url: "/Login/Logout",
            dataType: "json",
            success: function (result) {
                var url = '@Url.Action("Index", "Login")';
                window.location.href = url;

            },
            error: function (errormessage) {
                notify('error', 'Error Message', errormessage.responseText);
            }
        });
    }
    
</script>

</body>

</html>